{% extends "base.html" %}

{% block content %}
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    <table>
      <tr>
        <th>Origin Language</th>
        <th>Target_Language</th>
        <th>Origin Text</th>
        <th>Target Text</th>
        <th>Context Examples</th>
        <th>Upvotes</th>
        <th>Downvotes</th>
      </tr>
    {% for obj in filter.qs %}
        <tr>
        <td> {{ obj.origin_language }} </td>
        <td> {{ obj.target_language }} </td>
        <td> {{ obj.origin_text }} </td>
        <td> {{ obj.target_text }} </td>
        <td> {{ obj.context_examples }} </td>
        <td> {{ obj.upvotes }} </td>
        <td> {{ obj.downvotes }} </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
    </p>
