{% extends 'base.html' %}

{% block content %}
<div class='container-fluid scrollable'>
  <div class='row salin-green navbar'>
    <div class='col capriola text-dark'>
      <a href="{% url 'home' %}"> SALIN</a>
    </div>
    <div class='col text-right'>
        <!-- <input type="button" value="Moderator Page" onclick="window.location.href='http://localhost:8000/moderator'"/> -->
        <p class='mb-0'>
          <a href="{% url 'dashboard' %}">{{ user.username }}</a> |
          <a href="{% url 'logout' %}">Logout</a>
        </p>
    </div>
  </div>
  <div class='container bg-white off-center-container-list rounded mt-3 mr-6 mb-4 pb-3 pt-3'>
    <table class='table table striped'>
      <thead class=''>
        <tr>
          <th>Origin Language</th>
          <th>Target Language</th>
          <th>Origin Text</th>
          <th>Target Text</th>
          <th>Usage</th>
          <th>Upvotes</th>
          <th>Downvotes</th>
        </tr>
      </thead>
      <tbody>
        {% for instance in object_list %}
          <tr>
              <td> {{ instance.origin_language }} </td>
              <td> {{ instance.target_language }} </td>
              <td> {{ instance.origin_text }} </td>
              <td> {{ instance.target_text }} </td>
              <td> {{ instance.context_examples }} </td>
              <td> {{ instance.upvotes }} </td>
              <td> {{ instance.downvotes }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>  
  </div>    
</div>

{% endblock %}
