{% extends 'base.html' %}

{% block content %}
<table>
  <tr>
    <th>Origin Language</th>
    <th>Target_Language</th>
    <th>Origin Text</th>
    <th>Target Text</th>
    <th>Context Examples</th>
    <th>Upvotes</th>
    <th>Downvotes</th>
  </tr>
{% for instance in object_list %}
  <tr>
      <td> {{ instance.origin_language }} </td>
      <td> {{ instance.target_language }} </td>
      <td> {{ instance.origin_text }} </td>
      <td> {{ instance.target_text }} </td>
      <td> {{ instance.context_examples }} </td>
      <td> {{ instance.upvotes }} </td>
      <td> {{ instance.downvotes }} </td>
  </tr>
{% endfor %}
</table>

{% endblock %}
