<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>My App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      body{
        background-color: yellowgreen
      }
    </style>
  </head>
  <body>
    <div>
      <div class="jumbotron text-center">
        <h1>Salin</h1>
      </div>
      <div id="app">
        <h3>Log-in</h3>
        <input placeholder="Username">
        <input placeholder="Password">
        <br>
        <a href = "login.html">Log-in</a>
      </div>
      <script src="index.js"></script>
    </div>
  </body>
</html>
